__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/
.idea/
.vscode/
.DS_Store
*.zip
*.tar.gz
*.log
/tmp/
/gradio_meta/
/gradio_cache/
/matplotlib_cache/
